.contenedorFormularioCodigo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "BebasNeueRegular";
}

.contenedorFormularioCodigo input {
  background-color: #eb1c24;
  color: white;
  padding: 10px 0px 10px 20px;
  width: 18vw;
  border-radius: 15px;
  border: none;
  text-align: start;
  font-family: "BebasNeueBold";
  font-size: 1.5vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
    -moz-appearance: textfield;
}

.contenedorFormularioCodigo  .custom-input-file {
    background-color: #eb1c24;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px 0px 10px 20px;
    width: 18vw;
    font-family: "BebasNeueBold";
    overflow: hidden;
    position: relative;
  }
  
  .contenedorFormularioCodigo .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }

  .botonEnviar {
    background-color: white;
    color: #eb1c24;
    margin: 9vw auto;
    min-height: 50px;
    border-radius: 25px;
    font-size: 2vw;
    font-weight: bold;
    padding: 4px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: none;
    font-family: "BebasNeueBold";
    justify-content: space-evenly;
  }
  .loader{
    width:2vw;
  }
  .botonEnviar p {
    margin:0px;
  }
  
  .botonEnviar:hover {
    box-shadow: 4px 4px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.75);
    transform: translate(-2px,-2px);
  }
  