@media (max-width: 600px) {
  body {
    background-image: url("../img/BG_amstel_mobil.jpg");
    height: 100vh;
    justify-content: center;
  }
  .contenedor {
    margin-right: 0px;
  }
  .contenedor18years {
    left: 20px !important;
    align-items: end !important;
    justify-content: center;
    top: 0% !important;
    bottom: -20px;
    z-index: -1;
  }
  .contenedor18years_text {
    font-size: 1.8vw !important;
  }
  .contenedor18years_text {
    font-size: 1.8vw !important;
    margin: 0px;
  }
  .contenedor18years_img{
    width:3vw !important
  }

  .contenedorCabezera {
    margin-top: 17vw;
  }
  .img-text-logo {
    width: 68vw;
  }
  .img-logo {
    width: 19vw;
  }
  .subtitulo {
    font-size: 5.7vw;
  }
  .contenedorDateSelect select {
    border-radius: 2.4vw;
    font-size: 4.7vw;
    border-right: 5px solid transparent;
  }
  .contenedorCheckbox {
    padding-top: 20px;
    font-size: 4vw;
  }
  .textModal {
    font-family: "BebasNeueRegular";
    font-size: 11px;
  }
  .checkbox {
    width: 6vw;
    height: 6vw;
    border-radius: 2vw;
    margin: -1.5vw 7px;
  }
  .botonSiguiente {
    margin: 5vw auto;
    border-radius: 25px;
    font-size: 5vw;
    padding: 4px 15px;
    gap: 5px;
  }
  .flechaRoja {
    width: 2vw;
    padding-left: 8px;
  }
  .botonSiguiente p {
    margin: 0px;
  }
  .botonModal {
    width: 26vw;
    font-size: 4.3vw;
  }
  .contenedor_formUser {
    margin-right: 0px;
    margin-top: 16vw;
  }
  .titulo_formUser {
    font-size: 5.3vw;
    margin-bottom: 1vw;
  }
  .contenedorFormulario {
    gap: 0.3vw;
  }
  .contenedorFormulario input {
    padding: 2.7vw 0px 1.5vw 3vw;
    width: 63vw;
    border-radius: 15px;
    font-size: 4vw;
    margin: auto;
  }
  input::placeholder {
    font-size: 4vw !important;
    margin: 0px;
    font-family: "Oswald", sans-serif;
  }
  .camposrequeridos {
    padding-right: 0px;
  }
  .errormensaje {
    display: flex;
    padding-top: 5px;
    width: 59vw;
    font-size: 3vw;
    margin: 0px auto;
  }

  #checkbox {
    width: 6vw;
    height: 6vw;
    border-radius: 2vw;
    margin: -1.5vw 7px;
  }

  .contenedorTerminos {
    margin-top: 19px;
    margin-bottom: 0px;
    flex-direction: column-reverse;
    gap: 7px;
  }

  

  .linkterminos,
  .acepto,.camposrequeridos {
    font-size: 5vw!important;
    margin: 0px;
  }
  .contenedor_formCodigo {
    margin-right: 0px;
    margin-top: 11vw;
    gap: 5px;
  }
  .titulo_formCodigo {
    font-size: 5.3vw;
  }
  .img_cabezera_formCodigo {
    width: 35vw;
  }
  .contenedorFormularioCodigo {
    gap: 10px;
    justify-content: center;
  }
  .subtitulo-yaestasparticipando {
    font-size: 6vw;
    margin-top: 5vw;
}

  .contenedorFormularioCodigo input {
    padding: 3vw 0px 1.5vw 3vw;
    width: 44vw;
    border-radius: 15px;
    font-size: 4vw;
    margin: auto;
  }
  input::placeholder {
    font-size: 4vw;
  }

  .botonEnviar {
    margin: 3vw auto;
    border-radius: 25px;
    font-size: 5vw;
    padding: 4px 15px;
    gap: 5px;
  }

  .contenedorFormularioCodigo .errormensaje {
    width: 42vw;
  }

  .contenedor_yaestasParticipando {
    margin-top: 20vw;
    margin-right: 0px;
  }

  .titulo-yaestasparticipando {
    font-size: 13vw;
  }

  .boton_subir_otro_codigo {
    margin: 3vw auto;
    border-radius: 25px;
    font-size: 5vw;
    padding: 4px 15px;
    gap: 5px;
  }

  .loader {
    width: 5vw;
  }
  /* .ReactModalPortal .ReactModal__Content{
    inset: 3px!important;
  } */
/* 
  .contenedormodalerror .ReactModalPortal .ReactModal__Content {
    inset: 40px!important;
  } */
}

