body{
    background-image: url('../../img/bg_amstel.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content:right ;
}

.contenedor_formUser{
    margin-right: 10vw;
    margin-top:11vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}

.titulo_formUser{
    font-family: 'BebasNeueRegular';
    font-size: 2.3vw;
    margin: 0px;
    color:#2D2D2D;
    margin-bottom: 10px;
}
